<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="{{ url('takeaway/styles.css') }}">
    <title>TAKEAWAY</title>
</head>

<body>
<header>
    <h1>Bestelling 46</h1>
</header>
<main>
    <form action="{{ url('add') }}" method="post"
          enctype="multipart/form-data">
        <h2>Keuzemogelijkheid toevoegen</h2>
        <div
            {% if errors.name %}
                class="error"
            {% endif %}>
            <label for="name">Restaurant naam</label>
            <input type="text" name="name" id="name" value="{{ values.name }}" autocomplete="off">
            {% if errors.name %}
                <p>{{ errors.name }}</p>
            {% endif %}
        </div>
        <div
            {% if errors.price_range %}
                class="error"
            {% endif %}>
            <label for="price_range"><def title="Gemiddelde prijs van een hoofdgerecht">Prijs Categorie*</def> (getal)</label>
            <input type="text" name="price_range" id="price_range" value="{{ values.price_range }}" autocomplete="off">
            {% if errors.price_range %}
                <p>{{ errors.price_range }}</p>
            {% endif %}
        </div>
        <div
            {% if errors.min_delivery_price %}
                class="error"
            {% endif %}>
            <label for="min_delivery_price">Minimum bedrag (getal)</label>
            <input type="text" name="min_delivery_price" id="min_delivery_price" value="{{ values.min_delivery_price }}"
                   autocomplete="off">
            {% if errors.min_delivery_price %}
                <p>{{ errors.min_delivery_price }}</p>
            {% endif %}
        </div>
        <div
            {% if errors.delivery_price %}
                class="error"
            {% endif %}>
            <label for="delivery_price">Leverprijs (getal)</label>
            <input type="text" name="delivery_price" id="delivery_price" value="{{ values.delivery_price }}"
                   autocomplete="off">
            {% if errors.delivery_price %}
                <p>{{ errors.delivery_price }}</p>
            {% endif %}
        </div>
        <div
            {% if errors.url %}
                class="error"
            {% endif %}>
            <label for="url">Link naar leveraar (url)</label>
            <input type="text" name="url" id="url" value="{{ values.url }}" autocomplete="off">
            {% if errors.url %}
                <p>{{ errors.url }}</p>
            {% endif %}
        </div>
        <div
            {% if errors.coverphoto %}
                class="error"
            {% endif %}>
            <label for="coverphoto">
                lekker fotootje
            </label>
            <input type="file" name="coverphoto" id="coverphoto" pattern="\w+" placeholder=" ">
            {% if errors.coverphoto %}
                <p>{{ errors.coverphoto }}</p>
            {% endif %}
        </div>

        <input type="hidden" name="moduleAction" value="add">
        <button type="submit">Toevoegen</button>
        <p>*Gemiddelde prijs van een hoofdgerecht</p>
    </form>
    <div id="meme">

    </div>
</main>
</body>

</html>